.Heading{
    color: rgb(41, 129, 185);
    font-size: 30px;
}
.Family{
    margin: auto;
    width:100%;
    text-align:center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}
.Input{
    display:block
}
.CustomForm{
    padding: 10px;
    background-color: #ffffff;
    width: 80%;
    margin: auto;
    margin-top:2px
}
.MapFamilyWrapper{
    width: 100%;
    height:fit-content;
    position:relative;
    display: flex
}
.LatitudeLongitude{
    display:flex;
    flex-direction: column;
}
@media (min-width:600px){
    .Family{
        width:500px;
        box-shadow:0 2px 3px rgb(128, 124, 124);
    }
    .CustomForm{
        width: 100%;
    }
}
.FamilyInner{
    height:fit-content;
    box-sizing:border-box;
    padding:25px
}

.FamilyWrapper{
    margin:auto;
    display: flex;
    flex-flow: column;}

@media (max-width:600px){
    .MapFamilyWrapper{
        flex-flow: column-reverse;
    }
    .FamilyInner{padding: 0px;}
}
/* .MemberWrapper{
    margin:auto;
    display: flex;
    flex-flow: column;
}
.Members{
    display:flex;
    flex-direction: row-reverse;
}



 */
 @media screen and (max-width: 768px) and (min-height: 1024px){
     .Family{
         width: 380px;
     }
     .CustomForm{
         width: 380px
     }
 }