.StartSurvey{
    width:100%;
    height:100vh;
    display:flex;
    background: #fff;
}
.MainContainer{
  width:100%;
  margin-top: 100px;
  margin-left:auto;
  margin-right: auto;
  /* height: fit-content; */
  height:70vh; 
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  /* padding:25px; */
}
/* .LeftContainer,.RightContainer{
  width: 40%
} */
.MainContainerFinishSurvey{
  height: unset;
}
.LeftContainer{
  width:100%
}
.Thank{
  display:flex;
}
.Thank span{
  /* font-size: 36px */
}
.Thank>h3{
  font-size: 18px;
}
.Thank>h4{
  font-size: 17px;
}
.CustomForm{
  width:99%
}
.MobilePageFinishSurvey{
  display: block
}
.MobilePageFinishSurvey>img{
  width:100%;
  height:auto
}
.LeftContainer{
  box-sizing: border-box;
  padding: 2%;
  display:flex;
  flex-flow: column;
  justify-content: center
}

.RightContainer{
  display: flex;
  justify-content: space-evenly

}

.RightContainer>img{
  height:500px; 
  width: auto;
}
.RightContainerFinishSurvey{
  display: none;
}

.LeftContainer>div{
  width: 100%;
  display: flex;
  text-align: center;
}
.FirstImageWrapper{
  height: 240px;
  display:flex;
  justify-content:center;
}
.ImgTextWrapper{
  display:flex;
  justify-content:center;
}
.ImgTextWrapper>img{
  height:100px;
  width:auto;
}
.LeftContainer p{
  margin:0px;
  color: rgb(19, 18, 18);
}
.LeftContainer>p{
  font-size: 14px;
  text-align: center
}
.LogoText{
  color: rgb(19, 18, 18);
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  font-size: 28px;
  padding-left: 10px;
  white-space: nowrap;
}

.StartSurveyButton{
  white-space: nowrap;
  margin: auto;
  margin-top: 30px;
  font-size: 18px;
  font-weight: 600;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  background-color: var(--primary);
  height: 40px;
  line-height: 40px;
  padding: 0 40px;
  border-radius: 4px;
  border: none;
  text-decoration: none;
  text-align: center;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  transition: all 0.3s ease;
  -webkit-tap-highlight-color: transparent;
}
.StartSurveyButton:hover, .StartSurveyButton:focus, .StartSurveyButton.StartSurveyButton-hover {
    color: #fff;
    background-color: #52a7e0;
    text-decoration: none;
    outline: none;
  }
  .StartSurveyButton:active, .StartSurveyButton.StartSurveyButton-pressed {
    color: #124364;
    background-color: #217dbb;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.4);
    text-decoration: none;
  }
  .StartSurveyButton:disabled, .StartSurveyButton.StartSurveyButton-disabled {
    background-color: #e6e6e6 !important;
    border: 1px solid #ccc !important;
    color: #ccc !important;
    text-shadow: 0 1px 1px white !important;
    cursor: not-allowed !important;
    box-shadow: none !important;
    pointer-events: none !important;
    opacity: 0.8 !important;
  }
  .StartSurveyButton.StartSurveyButtonBorder {
    color: #3498db;
    background: none;
    border-width: 2px;
    border-style: solid;
    border-color: #3498db;
    line-height: 36px;
  }
  .StartSurveyButton.StartSurveyButtonBorder:hover, .StartSurveyButton.StartSurveyButtonBorder.StartSurveyButton-hover {
    color: #fff;
    background-color: #3498db;
  }
  .StartSurveyButton.StartSurveyButtonBorder:active, .StartSurveyButton.StartSurveyButtonBorder.StartSurveyButton-pressed {
    color: gray;
    background-color: #52a7e0;
  }
  @media(min-width:500px){
    .LeftContainer{
      width:40%;
    }
    .LeftContainerFinishSurvey{
      width: 50%;
      justify-content: space-between;
      padding: 0% !important;
    }
    .MobilePageFinishSurvey{
      display: none !important;
    }
    .LeftContainer>p{
      font-size: 1rem;
      text-align: left;
    }
    .SurveyMonitor{
      border-radius: 15px;
      box-shadow: 0 4px 6px -6px rgba(120,120,120,.1), 0 8px 6px -6px rgba(120,120,120,.4);
      height:70% !important; 
    
    }
    .RightContainerFinishSurvey{
     display: block;
      /* justify-content: center !important; */
    }
    .MainContainer{
      width:100%;
      height:70vh; 
      padding: 0px;
    }
    .MainContainerFinishSurvey{
      width:90%;
      height:50vh !important;
     /* justify-content: space-around !important; */
      margin-top: 25vh;
      padding: 0;
  
    }
    .LogoText{font-size: 28px;}
    .ImgTextWrapper{
      justify-content: flex-start
    }
    .ImgTextWrapper>img{
      /* width:125px; */
      width: 84px; 
      height: 100px
    }
    .ImgTextWrapper>p{
      font-size: 30px   
     }
    .LeftContainer>div{
      width: 100%;
      display: block;
      text-align: left;
    }
    .LeftContainer>div:nth-of-type(1){
      width: 100%;
      display: flex;
      text-align: left;      
    }
    .Thank{
    }
  }
  @media(min-width:800px){
    .Thank span{
      font-size: 36px
    }
    .Thank>h3{
      font-size: 24px;
    }
    .Thank>h4{
      font-size:22px; 
    }
    .ImgTextWrapper>img{
      width: 84px; 
      height: auto
    }
    .ImgTextWrapper>p{
      font-size: 30px   
     }
     .LogoText{font-size: 30px;}
     
  }
  @media(min-width:1200px){
    /* .ImgTextWrapper>p{
      font-size: 40px   
     } */
     .Thank{
      white-space: nowrap;
    }
    .Thank>h3{
      font-size: 26px;
    }
    .Thank>h4{
      font-size:22px; 
    }
    .LeftContainerFinishSurvey{
      width: 40%;
    }
     .LogoText{font-size: 30px}
  }
@media(min-width:1440px){
  .StartSurvey{
    background-size: cover , cover
  }
  .MainContainer{
    width:95%;
    height:70vh; 
    padding: 10px;
  }
  .MainContainerFinishSurvey{
    width: 90%;
  }
  .Thank>h3{
    font-size: 28px;
  }
  .Thank>h4{
    font-size:24px; 
  }
}