.RightContainer{
    width:50%;
    display:flex;
    flex-wrap: wrap !important;
    justify-content:space-around
}
.Tiles{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Tiles>img{
    width: 391px;
}
.Tiles>img:hover{
    cursor:pointer
}
@media(max-width:1400px){
   .Tiles>img{
    width: 270px;   
   }
}
@media(max-width:1100px){
    .Tiles>img{
     width: 200px;   
    }
 }
@media(max-width:768px){
    .RightContainer{
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height:430px;
        overflow-y: scroll   
    }
    .Tiles>img{
        width: 90%
    }
}
@media screen and (max-width: 768px) and (min-height: 1024px){
    .RightContainer{
        flex-direction: row;
        justify-content: space-around;
        height: unset;
        overflow-y: unset
    }
    .Tiles>img{
        width:160px
    }
}