.TripAccessIn{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content:space-between ;
}
.TripAccessIn>label{
    text-align: left;
}
.AccessInput{
    outline:none;
    margin: 0 auto 20px;
    border:none;
    border-bottom: 2px solid rgba(41, 128, 185,0.4);
    background-color: white;
    font: inherit;
    padding:2px 4px;
    box-sizing: border-box;
    width:170px;
    text-align: center;
}
.Invalid{
    border:1px solid red;
    background-color: #FDA49A
}
@media(max-width:500px){
    .AccessInput{
        width:145px
    }    
}