.TripAcessAndMode{
    display:flex;
    width:100%;
    box-sizing: border-box;
    margin-top: 20px;
    padding:5px 20px; 
    position: relative;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
@media(min-width:0px){
.TripAcessAndMode{
  padding:1px 20px !important; 
  flex-direction: column !important;
  align-items: center !important;
  flex-wrap: nowrap !important;
}
}
/* #content{
  position:relative;
}
.mydiv{
  border:1px solid #368ABB;
  background-color:#43A4DC;
  position:absolute;
}
.mydiv:after{
  content:no-close-quote;
  position:absolute;
  top:50%;
  left:50%;
  background-color:black;
  width:4px;
  height:4px;
  border-radius:50%;
  margin-left:-2px;
  margin-top:-2px;
}
#div1{
  left:200px;
  top:200px;
  width:50px;
  height:50px;
}
#div2{
  left:0px;
  top:500px;
  width:50px;
  height:40px;
}

 */
 /* #line{
    position:absolute;
    width:2px;
    margin-top:-1px;
    background-color:red;
  } */