.Alert{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:40%;
    height:fit-content;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    /* background: rgb(40, 129, 186); */
    background:white;
    /* color:whitesmoke; */
    box-sizing: border-box;
    border: 2px solid rgb(40, 129, 186);
    padding: 10px;
    text-align: center;
}
.Message{
    font-size: 18px;
    line-height: 20px;
}
.ButtonContainer{
    display: flex;
    justify-content: space-between;
    width:100%
}


.AlertButton{
    white-space: nowrap;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 600;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: normal;
    background-color: var(--primary);
    height: 40px;
    line-height: 40px;
    padding: 0 40px;
    border-radius: 4px;
    border: none;
    text-decoration: none;
    text-align: center;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    transition: all 0.3s ease;
    -webkit-tap-highlight-color: transparent;
  }
  .AlertButton:hover, .AlertButton:focus, .AlertButton.AlertButton-hover {
      color: #fff;
      background-color: #52a7e0;
      text-decoration: none;
      outline: none;
    }
    .AlertButton:active, .AlertButton.AlertButton-pressed {
      color: #124364;
      background-color: #217dbb;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
      box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.4);
      text-decoration: none;
    }
    .AlertButton:disabled, .AlertButton.AlertButton-disabled {
      background-color: #e6e6e6 !important;
      border: 1px solid #ccc !important;
      color: #ccc !important;
      text-shadow: 0 1px 1px white !important;
      cursor: not-allowed !important;
      box-shadow: none !important;
      pointer-events: none !important;
      opacity: 0.8 !important;
    }
    .AlertButton.AlertButtonBorder {
      color: #3498db;
      background: none;
      border-width: 2px;
      border-style: solid;
      border-color: #3498db;
      line-height: 36px;
    }
    .AlertButton.AlertButtonBorder:hover, .AlertButton.AlertButtonBorder.AlertButton-hover {
      color: #fff;
      background-color: #3498db;
    }
    .AlertButton.AlertButtonBorder:active, .AlertButton.AlertButtonBorder.AlertButton-pressed {
      color: gray;
      background-color: #52a7e0;
    }
@media(max-width:500px){
    .Alert{
        width:100%;
    }
    .ButtonContainer{
        width:60%;
    }
    
    /* button{
        font-size: 18px;
        line-height: 20px;
        padding: 10px 25px 10px 25px;
    }      */
        
    
}