.Alert{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:40%;
    height:20vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    /* background: rgb(40, 129, 186); */
    background: rgb(82, 167, 224);
    color:whitesmoke;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
}
.Message{
    font-size: 18px;
    line-height: 20px;
}
.ButtonContainer{
    display: flex;
    justify-content: space-between;
    width:60%
}

button{
   padding: 10px 70px 10px 70px;
  /* background: #491F65; */
  box-shadow: 0px 4px 20px rgba(48, 4, 78, 0.3);
  border: none;
  border-radius: 4px;
  font-family: Lato;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  /* color: #FFFFFF; */
  
  transition: letter-spacing .5s ease-in-out;
} 
button:hover{
  cursor:pointer;
  letter-spacing: 1px
}
@media(max-width:500px){
    .Alert{
        width:100%;
    }
    .ButtonContainer{
        width:60%;
    }
    
    button{
        font-size: 18px;
        line-height: 20px;
        padding: 10px 25px 10px 25px;
    }     
        
    
}