.Trip{
    width:100%;
    height:auto;
    box-sizing: border-box;
    padding:20px;
    text-align: right;
}
.OriginDestinationWrapper{
    display:flex;
    justify-content:space-between;
    align-items: center;
}
@media (max-width:400px){
    .OriginDestinationWrapper{
        flex-direction: column
    }
    .Trip{
        padding: 0px
    }
}
