.MapContainer{
    width:70%;
    height:100vh;
}
.LegendContainer{
    width: 20%;
    background:white;
    position:absolute;
    right:0;
    top:0;
}
.LegendItemContainer{
    width:70%;
    align-items: center;
    display:flex;
    margin: auto;
    justify-content: space-evenly;
}
.MapLeftControlsIn{
    width:83%;
    align-items: center;
    display:flex;
    flex-direction: column;
    margin: auto;
    justify-content: space-evenly;
}
.MapLeftControls{
    width: 30%;
    background: white;
    position: absolute;
    left: 0;
    bottom: 10vh;
}
.ButtonsContainer{
    margin-top:12px;
    margin-bottom:12px;
    width:100%;
    display:flex;
    justify-content: space-between;
}
.RefreshButtonContainer{
    display: flex;
    justify-content: center;
    width: 100%;
}
@media(max-width:780px){
    .MapContainer{
        width:100%;
        display: flex;
        flex-direction: column-reverse;
    }
    .LegendContainer{
        position: relative;
        width: 100%;
    }
    .MapLeftControls{
        position: relative;
        width: 100%;
        bottom: unset;
    }
}