.ControlsContainer{
    width:30%;
    height:100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 2%;
}
.Heading{
    width:100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}
.FormControls{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.CityInput{
    margin:10px 0;
    display: flex;
}
.CityInput>input{
    flex:1
}
.CityInput>button{
    outline:none;
    border:none;
    background-color: aqua;
}
.Pois{
    /* align-items: center; */
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin:10px 0;
}
@media(max-width:780px){
    .ControlsContainer{
        width: 100%;
        height: unset;
    }
}
.BoundingBox{
    width:100%;
    background-color: rgba(200,200,200,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 1em;
}
.BoundingBoxIn{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.BoundingBox>p{
    margin:0
}