.Wiki{
    margin:auto;
    width: 90%;
    height:100%;
    display:flex;
    text-align: center;
    flex-direction: column;
    color:rgba(100,100,100,.9)
}
@media(min-width:500px){
    .Wiki{
        text-align: left;
    }
}