.ContactUs{
    width:100%;
    height:100%;
    display:flex;
    flex-flow: column
}
.ContactUs h1{
    text-align: center;
}
.ContactMain{
    display:flex;
    padding: 25px;
    padding-top: 0;
    justify-content: space-between
}
.Heading{
    width:100%;
    height:20%;
    padding: 120px
}
.ContactLeftMain{
    width:70%
}
.ContactRightMain{
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.ContactRightMain>a{
    display: block;
}
.ContactRightMain>p{
    margin-bottom: 4px;
}
@media(max-width:500px){
    .ContactMain{
        flex-flow: column-reverse;
        padding:0px
    }
    .ContactRightMain{
        text-align: center
    }
    .ContactLeftMain{
        width:100%;
        text-align: center;
    }
    .Heading{
        padding: 20px;
    }
}

