.MemberWrapper{
    margin:auto;
    display: flex;
    flex-flow: column;
}
.Members{
    display:flex;
    flex-direction: row-reverse;
}
.MembersInner{
    height:fit-content;
    box-sizing:border-box;
    padding:25px
}


@media (max-width:600px){
    .MapMemberWrapper{
        flex-flow: column-reverse;
    }
    .MembersInner{padding: 0px;}
}
.MapMemberWrapper{
    width: 100%;
    height:fit-content;
    position:relative;
    display: flex
}