.AutoCompleteWrapper{
    position: relative;
    background: white !important;
}

.AutoCompleteWrapper div{
    width: 100%;
    /* left:0 !important;
    top:20px !important; */
    /* position: absolute !important; */
    position: relative !important;
    background: white !important;
}

.AutoCompleteWrapper>div>div{
    /* left:0 !important;
    top:20px !important; */
    position: fixed !important;
    background: white !important;
}
.AutoCompleteWrapper input{
    text-align: center;
    width:100%;
    border: none;
    border-bottom:2px solid rgba(41, 128, 185,0.4);
}