.AutoCompleteWrapper{
    
    background: white !important;
    width:100%;
}

.AutoCompleteWrapper >div{
    /* width: 100%; */
    /* left:0 !important;
    top:20px !important; */
    /* position: absolute !important; */
    z-index: 100;
    max-width: 100% !important;
    /* position: relative !important; */
    background: white !important;
    
}

.AutoCompleteWrapper>div>div{
    /* left:0 !important;
    top:20px !important; */
    background: white !important;
}
.AutoCompleteWrapper input{
    text-align: center;
    width:100%;
    border: none;
    border-bottom:2px solid rgba(41, 128, 185,0.4);
}