.TripModal{
    opacity: 0;
    top:-100vh;
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    transition: top ease-in .5s .1s;
    flex-direction: column;
    z-index:22;
    box-shadow: 0 8px 6px -6px rgba(0,0,0,.5);
}

.Dialogbox .Body {
    position: absolute;
    /* max-width: 300px; */
    height: auto;
    margin: 20px 10px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
    left:0px;
    
  }
  .Display{
    top:-25vh;
    width:350px;
    height:275px;
    opacity: 1;
    display: block
  }
  .DisplayIn{
    transition:height ease 0.3s;
    height:500px}
  .Body .Message {
    min-height: 30px;
    border-radius: 3px;
    font-family: Arial;
    font-size: 14px;
    line-height: 1.5;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .Dialogbox{
    display: block;    
    position: relative;
    left:0px;
    width:100%;
    height:275px;
    margin: auto;
    transition: visibility ease 0.2s 0.2s;
    background: rgb(245, 238, 224);

    z-index: 22;
  }
  .Dialogbox1{
    opacity:0;
    position: relative;
    left:50%;
    transform: translateX(-50%);
    top:-100%;
    transition:opacity ease 0.4s 0.2s,top ease-out 0.4s 0.1s;
    background: rgb(245, 238, 224);
    z-index:15;
    width: 0px;
    height:0px
  }
  .Dialogbox1 .Body {
    position: absolute;
    height: auto;
    margin: 20px 10px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
    left:0px;
    top: 50%;
    
    transform: translateY(-50%);
  }
  .Dialogbox1Display{
    opacity:1;
    top:0%;
    z-index:20;
    width:100%;
    height:225px;
  }