:root {
  --primary: #E39774; 
  --main-bg-color: #EEEEEE
}

body {
  margin: 0;
  padding: 0;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Roboto', sans-serif;
  background-color: var(--main-bg-color)
}
