.Heading{
    color: rgb(41, 129, 185);
    font-size: 30px;
}
.ParaText{
    color: rgb(0, 0, 128);
    font-size: 18px;
}
.MemberData{
    margin: auto;
    width:90%;
    text-align:center;
    box-sizing: border-box;
    /* background-color:rgb(128, 190, 226); */
}
@media (min-width:600px){
    .MemberData{
        width:500px;
        box-shadow:0 2px 3px rgb(128, 124, 124);
    }
}
.Input{
    display:block
}

.CustomForm{
    padding: 10px;
    background-color: #ffffff;
    width: 80%;
    margin: auto;
    margin-top:2px
}