.TripInformation{
    width:100%;
    margin:0 auto;
    height:100px;
    text-align: center;
    box-sizing:border-box;
    padding:20px;
    display:flex;
    letter-spacing: 2px;
    border-bottom: 1px solid black;
}
.TripsAndMapWrapper{
    display: flex;
}
.SingleTripsMap{
    flex:1;
}
.TripInformation>h1{
    margin:auto;
    font-size:28px;
    color:rgb(41, 129, 185);
    font-weight: 300;
}
.NextMemberWrapper{
    width: 99%;
    text-align: right
}
.TripsWrapper{
    width:500px;
}
@media (max-width:500px){
    .TripInformation{
       width:100%;
       padding:0px;
    }
    .NextMemberWrapper{
        text-align: center;
    }
    .TripsWrapper{
        width:100%
    }
    .SingleTripsMap{
        display: none;
    }
}
